.App {
  text-align: center;
  background-color: #007bff; /* Vibrant blue */
  color: white;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0056b3; /* Deep blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 5px 15px rgba(0, 91, 187, 0.3);
}

.App-link {
  color: #66d9ff;
  font-weight: bold;
  transition: color 0.3s;
}

.App-link:hover {
  color: #33bbff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dark Mode Styles */
.dark-mode .App {
  background-color: #1c1c1c;
  color: #f8f9fa;
}

.dark-mode .App-header {
  background-color: #333333;
  box-shadow: 0 4px 10px rgba(50, 50, 50, 0.5);
}

.dark-mode .App-link {
  color: #66d9ff;
}

.dark-mode .App-link:hover {
  color: #33bbff;
}
